@media screen and (min-width: 1440px) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }

  .container {
    align-items: center;

    .card {
      margin-top: unset;

      .card-wrapper {
        padding: 4rem 4.5rem;

        .title {
          font-size: 2.8rem;
          padding: 0.2rem;
        }

        .description {
          font-size: 1.8rem;
          padding: 1.6rem 1rem;
          line-height: 2.55rem;
        }

        .plan-card {
          padding: 2.6rem;

          .list {
            gap: 2.2rem;

            .payment-plan {
              font-size: 1.8rem;
            }

            .price {
              font-size: 1.8rem;
            }

            a {
              font-size: 1.5rem;
            }
          }
        }

        .primary {
          margin: 3rem 0 2.4rem 0;
        }
      }
    }
  }
}
